<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Intel Capital</title>
    <meta name="description" content="Intel Capital">
    <meta name="author" content="Intel Capital">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://amptag.com/icp/img/h/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://amptag.com/icp/img/m/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="http://amptag.com/icp/img/l/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="http://amptag.com/icp/img/l/apple-touch-icon.png">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="../css/style.css?v=1">
</head>

<body>

	<header>
	</header>
	
	<nav class="launcher">
		<a href="portfolio.01.html"><img width="80" height="50" src="../images/nav.port.off.png" alt="portfolio"/></a
		><a href="team.01.html"><img width="80" height="50" src="../images/nav.team.off.png" alt="team"/></a
		><a href="community.01.html"><img width="80" height="50" src="../images/nav.comm.on.png" alt="community"/></a
		><a href="more.01.html"><img width="80" height="50" src="../images/nav.more.off.png" alt="more"/></a>
	</nav>

	<section id="main" role="main" class="comm1 clearfix">
		
		<div class="gradient">
	
			<div class="community clearfix">
				<div class="center"><span class="inactive">News</span> | <a href="community.02.html"><span class="active">Join the Conversation</span></a></div>
			</div>
			
		</div>

		<div class="tableview clearfix">
			<div class="template">
				<div class="tweet">
					<span class="from_user"></span> <span class="other"></span><br/>
					<span class="body"></span><br/>
					<span class="date"></span>
				</div>
				<hr />
			</div>
			<div class="loadmore">
				<a href="javascript:void(0);" title="load more">Load More</a>
			</div>
		</div>

	</section>

	<footer class="gradient">
		<ul>
			<li>&copy;Intel Corporation</li>
			<li><a href="http://www.intel.com/sites/corporate/termsofuse.htm?iid=ftr+terms">Terms</a></li>
			<li><a href="http://www.intel.com/sites/corporate/tradmarx.htm?iid=ftr+trademark">*TM</a></li>
			<li><a href="http://www.intel.com/sites/corporate/privacy.htm?iid=ftr+privacy">Privacy</a></li>
		</ul>
	</footer>

	<!-- scripts includes -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../utilities/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <script src="../utilities/libs/modernizr-custom.js"></script>
	<script src="../project.js"></script>
	<!-- end scripts -->

	<script> // Change UA-XXXXX-X to be your site's ID
		window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
		Modernizr.load({
	   		load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
		});
	</script>

	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

</body>
</html>
