<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Intel Capital</title>
    <meta name="description" content="Intel Capital">
    <meta name="author" content="Intel Capital">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://amptag.com/icp/img/h/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://amptag.com/icp/img/m/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="http://amptag.com/icp/img/l/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="http://amptag.com/icp/img/l/apple-touch-icon.png">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="../css/style.css?v=1">
</head>

<body>

	<header>
	</header>

	<nav class="launcher">
		<a href="portfolio.01.html"><img width="80" height="50" src="../images/nav.port.off.png" alt="portfolio"/></a
		><a href="team.01.html"><img width="80" height="50" src="../images/nav.team.on.png" alt="team"/></a
		><a href="community.01.html"><img width="80" height="50" src="../images/nav.comm.off.png" alt="community"/></a
		><a href="more.01.html"><img width="80" height="50" src="../images/nav.more.off.png" alt="more"/></a>
	</nav>

	<section id="main" role="main" class="team2 clearfix">

		<div class="person clearfix gradient">
			<div class="thumbnail">
				<img src="../images/sample.logo.jpg" class="logo" alt="" />
			</div>
			<div class="stats">
				<strong class="name"></strong><br/>
				<span class="btitle"></span><br/>
				<a href="javascript:void(0);" title="." class="contact"></a>
			</div>
			<br clear="all"/>
			<div class="focus">
				<strong>Focus Area</strong><br/>
				<span class="focusarea"></span><br />
			</div>
		</div>

		<div class="generic">
			<div class="gradient">
				<h2>Bio</h2>
				<p class="bio"><br /><br /></p>
			</div>
			<div class="gradient portsection">
				<h2>Portfolio Companies</h2>
				<div class="affiliates">
					<div class="tableview clearfix">
						<div class="template">
							<a class="affiliate" href="">
								<span class="name"></span>
								<div class="right"><img src="../images/arrow.png" alt=">" width="6" height="8" /></div>
								<br clear="all"/>
							</a>
							<hr />
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<footer class="gradient">
		<ul>
			<li>&copy;Intel Corporation</li>
			<li><a href="http://www.intel.com/sites/corporate/termsofuse.htm?iid=ftr+terms">Terms</a></li>
			<li><a href="http://www.intel.com/sites/corporate/tradmarx.htm?iid=ftr+trademark">*TM</a></li>
			<li><a href="http://www.intel.com/sites/corporate/privacy.htm?iid=ftr+privacy">Privacy</a></li>
		</ul>
	</footer>

	<!-- scripts includes -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../utilities/libs/jquery-1.6.2.min.js"><\/script>')</script>
    <script src="../utilities/libs/modernizr-custom.js"></script>
	<script src="../project.js"></script>
	<!-- end scripts -->

	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27752816-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>

	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

</body>
</html>
